nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item {
  position: relative;
  top: 12px;
  margin-left: 5px;
}

a:hover {
  background: #9deb0c;
}

a:active {
  width: 100%;
  color: var(--color-primary);
  background-color: var(--color-light);
  margin-left: 0;
}

.fas fa-user {
  float: left;
  width: 100px;
  height: 200px;
  margin: 0 5px 0 0;
  background-color: grey;
}

/* Add this style to hide the sub-pages container initially */
.sub-pages-container {
  display: none;
}

/* Add this style to show the sub-pages container when it has the "visible" class */
.sub-pages-container.visible {
  display: block;
}

.sub-page-button {
  float: left;
  font-size: 14px;
  margin-left: 10px;
}
/* Add this style for the hover effect on sub-page-button */
.sub-page-button:hover {
  background-color: #9deb0c; /* Change to your desired hover background color */
  color: #fff; /* Change to your desired hover text color */
  margin-left: 60;
}
